[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.5.2"
wget = "*"
flask = "*"
panda = "*"
pandas = "*"
gunicorn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
